*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 0.625em;
  font-family: Impact;
}

body {
  background-color: #ccc;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.postcard {
  position: relative;
  height: 40rem;
  max-width: 60rem;
  width: 100%;
  margin: 0 1.5rem;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

.postcard__card {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.postcard:hover .postcard-front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.postcard:hover .postcard-back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.postcard-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 520px) {
  .postcard-front {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.postcard-front::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(194, 195, 206, 0.2), rgba(50, 57, 93, 0.3));
  z-index: 0;
}

.postcard-front__content {
  z-index: 1;
}

.postcard-front__text {
  color: #fff;
  font-size: 8.2rem;
  text-transform: uppercase;
  margin-left: 3.2rem;
}

@media screen and (max-width: 600px) {
  .postcard-front__text {
    font-size: 6.2rem;
  }
}

@media screen and (max-width: 520px) {
  .postcard-front__text {
    font-size: 8.2rem;
    text-align: center;
  }
}

.postcard-front__img-wrapper {
  position: absolute;
  right: -15rem;
  bottom: -3rem;
  display: inline-block;
  width: 44rem;
  -webkit-filter: drop-shadow(-20px 10px 10px black);
          filter: drop-shadow(-20px 10px 10px black);
}

@media screen and (max-width: 520px) {
  .postcard-front__img-wrapper {
    display: none;
  }
}

.postcard-front__img-wrapper::before {
  position: absolute;
  top: -6rem;
  left: 4rem;
}

.postcard-front__img {
  width: 100%;
  height: auto;
}

.no-webp .postcard-front {
  background-image: url(../img/background.jpg);
}

.webp .postcard-front {
  background-image: url(../img/background.webp);
}

.no-webp .postcard-front__img-wrapper::before {
  content: url(../img/hat.png);
}

.webp .postcard-front__img-wrapper::before {
  content: url(../img/hat.webp);
}

.postcard-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  text-align: center;
  background-color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 3;
}

.postcard-back__title {
  margin-bottom: 1.5rem;
}
